.umb-deploy-error-holder {
  border: 1px solid #817F85;
  background: #D8D7D9;
  padding: 8px;
  min-height: 50px;
  white-space: pre-wrap;
}
.umb-deploy-error-details {
  margin-top: 10px;
}
.umb-deploy-error-details pre {
  font-size: 11px;
}
.umb-deploy-restore {
  margin-top: 24px;
  background: #F3F3F5;
  border-radius: 3px;
  border: 2px solid #E9E9EB;
  padding: 20px;
}
.umb-deploy-debug {
  margin-top: 24px;
  background: #F3F3F5;
  border-radius: 3px;
  border: 2px solid #F02E28;
  padding: 0 20px;
  margin-bottom: 60px;
}
.umb-deploy-debug-exception {
  color: #F02E28;
}
.umb-deploy-debug-console {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 11px;
  min-height: 48px;
  max-height: 512px;
  overflow: auto;
  white-space: pre;
  text-align: left;
  color: black;
}
.umb-deploy-debug-clear {
  text-align: right;
  margin: 0;
}
.umb-deploy-debug-clear .btn {
  font-size: 11px;
}
.umb-deploy-item-list {
  list-style: none;
  margin-left: 0;
}
.umb-deploy-item-list__check {
  color: #1FB572;
}
.umb-deploy-item-list-more {
  margin-left: 18px;
}
.umb-deploy-include-children {
  display: block;
  margin-left: 18px;
}
/* utilities */
.underline {
  text-decoration: underline;
}
.ud-connection-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -10px;
}
.ud-connection-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 10px;
  background: #FFF;
  border: 2px solid transparent;
  border-radius: 3px;
  margin: 0 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  text-decoration: none !important;
}
.ud-connection-option--active {
  border-color: #1b264f;
}
.ud-connection-option:hover {
  border-color: #2152A3;
}
.ud-connection-option:hover .ud-connection-option__icon {
  opacity: 1;
}
.ud-connection-option__icon {
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 10px;
  opacity: .6;
}
.ud-content-flow-arrow {
  height: 6px;
  right: 0;
  left: 0;
  top: 35%;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 0;
}
.ud-content-flow-arrow--has-arrow:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(204, 204, 204, 0);
  border-left-color: #F3F3F5;
  border-width: 20px;
  margin-top: -20px;
}
.ud-content-flow-arrow.complete:after {
  border-left-color: #2152A3;
  -webkit-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.ud-content-flow-arrow--first {
  left: 50%;
}
.ud-content-flow-arrow--last {
  right: 50%;
  margin-right: 70px;
}
.ud-content-flow-arrow--to-next {
  transform: translate(0, 0);
  top: 33%;
  left: 67%;
  right: -33%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #E9E9EB;
}
.ud-content-flow-arrow .bar {
  background: #2152A3;
  box-shadow: none;
  height: 6px;
  width: 0;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}
.ud-friendly-dropdown {
  display: inline-block;
  padding: 5px 8px;
  margin: 0 5px;
  font-weight: bold;
  text-align: center;
  background-color: #F3FDFC;
  border: 1px solid #81DED8;
  border-radius: 3px !important;
  text-decoration: none;
}
.ud-friendly-dropdown:hover {
  text-decoration: none;
  background-color: #F3FDFC;
  border-color: #03BFB3;
}
.ud-friendly-dropdown:focus {
  text-decoration: none;
}
.ud-infobox {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #E9E9EB;
  padding: 20px;
  position: relative;
}
.ud-infobox p {
  line-height: 1.6;
}
.ud-infobox .umb-progress-bar__progress {
  background: #3544b1;
}
/*RESTORE*/
.ud-nonodes h4 {
  font-size: 1.2em;
}
.ud-nonodes .cta {
  padding: 0;
  border: none;
  margin-top: 60px;
}
.ud-nonodes .cta-disabled {
  opacity: 0.4;
}
.ud-nonodes .cta .button {
  padding: 14px 48px;
  cursor: pointer;
}
.ud-nonodes .cta small {
  margin-left: 20px;
}
.ud-nonodes .cta small span {
  font-size: 13px;
  color: #fff;
  margin-right: 5px;
}
.ud-nonodes .cta small a {
  display: inline-block;
  font-size: 13px;
  color: #fff;
}
.ud-nonodes .login {
  overflow: hidden;
  max-width: 75%;
  margin: 0 auto;
  padding: 50px 0 0;
}
.ud-nonodes .input {
  position: relative;
  width: 45%;
  float: left;
}
.ud-nonodes .input:first-child {
  margin-right: 9%;
  margin-left: 1%;
}
.ud-nonodes p {
  margin: 20px 0 0;
}
.ud-nonodes p a {
  font-size: 1em;
}
.ud-nonodes small {
  font-size: 0.8em;
}
.ud-nonodes label {
  position: absolute;
  top: -20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ud-nonodes button {
  font-family: inherit;
}
.ud-nonodes .input input[type="text"],
.ud-nonodes .input input[type="password"] {
  padding: 16px 8px;
  width: 100%;
  font-size: 16px;
  border: 2px solid transparent;
}
.ud-nonodes .input input[type="text"]:focus,
.ud-nonodes .input input[type="password"]:focus {
  outline: none;
  border-color: #2e99f4;
}
.ud-nonodes input.ng-invalid.ng-touched {
  background-color: #FA787E;
}
.ud-nonodes .json {
  text-align: left;
  padding: 15px;
  margin: 30px 0;
  background: rgba(0, 0, 0, 0.23);
  overflow: hidden;
}
.ud-nonodes .json pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 14px;
  line-height: 1.5;
  color: #d3d3d3;
}
.ud-nonodes .json a {
  font-size: 0.8em;
  font-weight: normal;
}
.ud-nonodes .json code {
  color: #d3d3d3;
}
.ud-nonodes .ud-schema-mismatch-error__group {
  margin-top: 10px;
}
.ud-nonodes .ud-restore-error {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 20px;
  text-align: left;
}
.ud-nonodes .ud-restore-error .ud-schema-mismatch-error__title {
  color: #fff;
}
.ud-nonodes .timestamp {
  color: #d3d3d3;
  margin-top: 10px;
}
.ud-nonodes .ud-merge-conflict-error__header {
  margin-top: 20px;
}
.ud-nonodes .ud-merge-conflict-error__header + p {
  margin-top: 0;
}
.ud-nonodes .ud-merge-conflict-error a {
  font-size: inherit;
}
.ud-nonodes .ud-schema-mismatch-error__difference {
  margin-left: 20px;
}
.ud-schema-mismatch-error__group {
  margin-bottom: 15px;
}
.ud-schema-mismatch-error__title {
  margin-bottom: 2px;
  color: #000;
}
.ud-schema-mismatch-error__difference-group {
  font-size: 13px;
}
.ud-schema-mismatch-error__difference {
  margin-left: 5px;
  margin-bottom: 2px;
}
.ud-schema-mismatch-error__difference-text {
  font-size: 11px;
  display: block;
}
.ud-dependency-error__list {
  font-size: 13px;
}
.ud-dependency-error__detail {
  font-size: 12px;
  line-height: 18px;
  margin-left: 20px;
}
.ud-dependency-error__dependency-detail {
  font-size: 12px;
  line-height: 18px;
}
.ud-dependency-error__reason {
  font-style: italic;
}
.ud-workspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
  -webkit-box-flex: 0;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
  position: relative;
  height: 220px;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
}
.ud-workspace h4 {
  transition: color 120ms;
}
.ud-workspace .ud-workspace__description {
  transition: color 120ms;
}
.ud-workspace .ud-workspace__symbol {
  transition: border-color 240ms, box-shadow 240ms;
}
.ud-workspace .ud-workspace__symbol-icon {
  transition: color 120ms;
}
.ud-workspace:hover h4,
.ud-workspace:hover .ud-workspace__description {
  color: #2152A3;
}
.ud-workspace:hover .ud-workspace__symbol {
  border-color: #2152A3;
}
.ud-workspace:hover .ud-workspace__symbol-icon {
  color: #2152A3;
}
.ud-workspace--active h4,
.ud-workspace--active .ud-workspace__description {
  color: #3544b1;
}
.ud-workspace--active .ud-workspace__symbol {
  border-color: #3544b1;
  box-shadow: 0 0 4px 0 #3544b1, inset 0 0 2px 0 #3544b1;
}
.ud-workspace--active .ud-workspace__symbol .ud-workspace__symbol-icon {
  color: #3544b1;
}
.ud-workspace--active .ud-workspace__current {
  background-color: rgba(53, 68, 177, 0.1);
  border-color: #3544b1;
  color: #3544b1;
}
.ud-workspaces :not(.ud-workspace--floating):nth-child(2) {
  order: 1;
}
.ud-workspaces :not(.ud-workspace--floating):nth-child(3) {
  order: 3;
}
.ud-workspaces :not(.ud-workspace--floating):nth-child(4) {
  order: 4;
}
.ud-workspaces .ud-workspace--floating:nth-last-child(n+3) {
  order: 2;
}
.ud-workspace__description {
  white-space: nowrap;
}
.ud-workspace__current {
  font-size: 12px;
  font-weight: bold;
  background-color: #E9E9EB;
  border: 1px solid #BBBABF;
  color: #1E1C1C;
  padding: 1px 8px;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
}
.ud-workspace__symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #E9E9EB;
  border-radius: 50%;
  width: 66px;
  height: 66px;
}
.ud-workspace__symbol--dashed {
  border-style: dashed;
}
.ud-workspace__symbol-icon {
  font-size: 28px;
}
.ud-workspace__arrow {
  display: block;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  z-index: 10;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-left: 1px solid #E9E9EB;
  border-top: 1px solid #E9E9EB;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
@media (min-width: 768px) {
  .ud-workspace {
    -webkit-box-flex: 0;
    -ms-flex: 1 1 150px;
    flex: 1 1 150px;
  }
}
@media (min-width: 992px) {
  .ud-workspace {
    -webkit-box-flex: 0;
    -ms-flex: 1 1 250px;
    flex: 1 1 250px;
  }
}
.ud-node-preview.umb-node-preview {
  max-width: 600px;
}
.ud-queque {
  margin-bottom: 15px;
}
.ud-queque__group-title {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #BBBABF;
  max-width: 600px;
  color: #1b264f;
}
.ud-queque__group-title .icon {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 12px;
}
.ud-queque__group-title:hover {
  cursor: pointer;
  color: #2152A3;
}
/* ud full overlay */
.ud-full-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ud selector */
.ud-selector {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ud-selector-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.ud-selector-intro-loader {
  position: relative;
  display: block;
  padding: 80px 0;
}
.ud-selector-intro p {
  line-height: 1.9;
  font-size: 0.9rem;
}
.ud-selector-intro-status {
  font-weight: bold;
  text-align: center;
  color: #000;
}
.ud-selector-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* ud selector choice */
.ud-selector-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #F3F3F5;
  max-width: 280px;
  padding: 40px;
  margin: 20px;
  -webkit-transition: box-shadow 100ms ease;
  transition: box-shadow 100ms ease;
}
/* ud selector presentation */
.ud-selector-presentation {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #A2A1A6;
  width: 112px;
  height: 160px;
  border-radius: 3px;
  text-align: center;
  -webkit-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
}
.ud-selector-presentation.-solid {
  border-style: solid;
}
/* ud selector info */
.ud-selector-info {
  margin-bottom: 20px;
  text-align: center;
}
.ud-selector-info p {
  line-height: 1.6;
  opacity: .6;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}
/* ud selector kit (svg)*/
.ud-selector-kit {
  width: 100%;
  height: auto;
}
.ud-selector-kit .fill {
  fill: #D8D7D9;
  -webkit-transition: fill 100ms ease;
  transition: fill 100ms ease;
}
/* Hover states */
.ud-selector-choice.selected {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 100ms ease;
  transition: box-shadow 100ms ease;
  background: #FFF;
}
.ud-selector-choice .ud-selector-presentation {
  border-color: #413659;
  -webkit-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
}
.ud-selector-choice:hover .ud-selector-info p {
  opacity: 1;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}
.ud-selector-choice .ud-selector-kit .fill {
  fill: #B3AFBD;
  -webkit-transition: fill 100ms ease;
  transition: fill 100ms ease;
}
.umb-era-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 38px;
  line-height: 1;
  max-width: 100%;
  padding: 0 18px;
  color: #202129;
  background-color: #edeeee;
  text-decoration: none !important;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 3px;
  border: 0 none;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 80ms ease, color 80ms ease;
  font-weight: bold;
}
.umb-era-button:disabled {
  cursor: not-allowed;
}
.umb-era-button:hover,
.umb-era-button:active {
  color: #484848;
  background-color: #e1e2e2;
  outline: none;
  text-decoration: none;
}
.umb-era-button.-green {
  background: #2bc37c;
  color: #FFF;
}
.umb-era-button.-green:disabled {
  color: #202129;
  background-color: #edeeee;
}
.umb-era-button.-green:enabled .umb-era-button.-green:hover {
  background-color: #1FB572;
}
#deployManagementDashboard table.status-display {
  margin-bottom: 10px;
}
#deployManagementDashboard table.status-display th {
  text-align: left;
  padding-right: 8px;
}
#deployManagementDashboard select {
  margin-bottom: 0;
  margin-right: 8px;
  width: auto;
}
#deployManagementDashboard .operation-message {
  font-style: italic;
  padding: 8px 4px;
}
